<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program5</title>
</head>
<body>
    <h1>Program 5: Reddit Daily Programmer Problems</h1>
    <form action="/generate" method="POST">
        Select Difficulty (Easy, Medium, or Hard):
        <select name="difficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>
         <button type="submit" name="generate">Submit</button><br/>
     </form>
    <br/>
    <br/>
    <form action="/random" method="GET">
        Generate a Random Problem:
        <input type="submit" name="random" value="Generate" ><br/>
    </form>
    <br/>
    <br/>
    <form action="/subscribe" method="POST">
       Enter Email Address:<input type="text" name="email"/>
        <button type="submit" name="subscribe">Subscribe to our Email Listing</button><br/>
    </form>
    <br/>
    <br/>
    <form action="/email" method="POST">
        Get Link to this Web Page Through Email:
         <button type="submit" name="get_email">Get Link Through Email</button><br/>
         (Only works if you have subscribed to our email listing and your email has been verified):
     </form>

    <br/>
    

<!--     
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {%  for message in messages %}
                <h3>{{ message }}</h3>
            {%  endfor %}
        {% endif %}
    {% endwith %} --> 
</body>
</html>